
<div class="row">
  
  <div class="col-md-4">
      <div class="card bg-success">
          <div class="card-body">
              <div class="d-flex no-block">
                 
                  <div class="align-self-center text-white">
                      <h6 class="text-white m-t-10 m-b-0">Ingresos Totales</h6>
                      <h2 class="m-t-0 text-white">+ $236,000</h2>
                  <button class="btn btn-rounded btn-outline btn-light m-t-10 font-14">Ver detalles</button>
                    </div>
                      
              </div>
          </div>
      </div>
  </div>
    
  <div class="col-md-4">
    <div class="card bg-danger">
        <div class="card-body">
            <div class="d-flex no-block">
               
                <div class="align-self-center text-white">
                    <h6 class="text-white m-t-10 m-b-0">Egresos Totales</h6>
                    <h2 class="m-t-0 text-white">- $236,000</h2>
                <button class="btn btn-rounded btn-outline btn-light m-t-10 font-14">Ver detalles</button>
                  </div>
                    
            </div>
        </div>
    </div>
</div>
</div>