<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="d-flex no-block">
          <div>
            <h4 class="card-title"><span class="lstick"></span>Detalle Ingreso y Egreso</h4>
          </div>
          <div class="ml-auto">
            <select class="custom-select b-0">
              <option selected="">Enero</option>
              <option value="1">Febrero</option>
              <option value="2">Marzo</option>
              <option value="3">Abril</option>
            </select>
          </div>
        </div>
        <div class="table-responsive m-t-20 no-wrap">
          <table class="table vm no-th-brd pro-of-month">
            <thead>
              <tr>
                <th colspan="2">Descripcion</th>
                <th>Monto</th>
                <th>Tipo</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let transaccion of transacciones$ | async">

                <td colspan="2">
                  {{transaccion.descripcion}}
                </td>
                <td>{{transaccion.monto | currency }}</td>
                <td>
                  <span  class="label" [ngClass]="{ 
                    'label-success': transaccion.tipo === tipoTransaccion.INGRESO, 
                    'label-danger': transaccion.tipo === tipoTransaccion.EGRESO
                }">{{transaccion.tipo}}</span>
                </td>
                <td>
              <button class="btn btn-link btn-sm" (click)="eliminar(transaccion.uid)">Eliminar</button>

                </td>

              

              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
