<div class="row">
  <div class="col-md-6">
      <div class="card">
        <div class="card-header bg-info">
          <h4 class="m-b-0 text-white">Agregar Ingreso / Egreso</h4>
      </div>
        <div class="card-body">
          <p class="card-description">
            Especifique el monto y el tipo
          </p>

          <hr>
          <form [formGroup]="transaccionForm" (ngSubmit)="transaccion()">
            
            <div class="form-group">
              <label>Descripción</label>
              <input type="text" 
                     class="form-control" 
                     placeholder="Descripción"
                     formControlName="descripcion">
            </div>

            <div class="form-group">
                <label>Monto</label>
                <input type="number" 
                       class="form-control" 
                       placeholder="Monto"
                       formControlName="monto">
                  <p>
                    Debe de ser un monto positivo
                  </p>
              </div>

            <div class="form-group">
                <label>Tipo</label>
             
                <select formControlName="tipo" class="form-control custom-select" data-placeholder="Choose a Category" tabindex="1">
                  
                  <option *ngFor="let item of tiposTransaccion" [value]="item">{{item}}</option>
            
              </select>
            </div>

            <hr>
            
            <button *ngIf="(loading$ | async) == false" [disabled]="transaccionForm.invalid" type="submit" class="btn btn-success mr-2"> <i class="fa fa-check"></i> Guardar</button>

            
              <button *ngIf="(loading$ | async) == true" disabled class="btn btn-success mr-2">
                <i class="fa fa-spinner fa-pulse fa-spin"></i>
                Guardando...
              </button> 
            
            
            <button type="reset" class="btn btn-light">Cancelar</button>

          </form>
        </div>
      </div>
    </div>
</div>
        